<h4>Account Details Of Customer</h4>

<div class="table-container">
    <table *ngIf="custDataWithacc">
      <thead>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>DateOfBirth</th>
          <th>Email</th>
          <th>Pincode</th>
          <th>Country</th>
          <th>AdharNumber</th>
          <th>AccountNumber</th>
          <th>AcccountType</th>
          <th>AccountInterestRate</th>
          <th>AccountBalance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of custDataWithacc">
          <td>{{ item.customerFirstName }} </td>
          <td>{{ item.customerLastName}} </td>
          <td>{{ item.customerDateOfBirth }}</td>
          <td>{{ item.customerEmail }}</td>
          <td>{{ item.customerPincode }}</td>
          <td>{{ item.customerCountry }}</td>
          <td>{{ item.customerAdharNumber }}</td>
          <td>{{ item.accountNumber }}</td>
          <td>{{ item.accountTypeName }}</td>
          <td>{{ item.accountInterestRate }}%</td>
          <td>{{ item.accountBalance }}</td>
        </tr>
      </tbody>
     <div class="back-btn"> <a routerLink="/customer/getallcust" class="btn btn-danger" id="back">Back</a></div>
    </table>
    
  </div>

