h4{
    text-align: center;
}
 

.layout{
    margin-top: 20px; 
    margin-left: 30px; 
}

#addcust{
    margin-right: 10px;
    width: 130px;
    height: 38px;
    font-size: 16px;
}

#getcust{
   width: 125px;
   height: 38px;
   font-size: 16px;
}