<div class="layout">
    <a routerLink="./addaccount" routerLinkActive="active" class="btn btn-outline-primary" [routerLinkActiveOptions]="{exact:true}">Add Account </a>&nbsp;

    <a routerLink="./getallaccount" routerLinkActive="active" class="btn btn-outline-success" [routerLinkActiveOptions]="{exact:true}">All Accounts</a>&nbsp;

    <a routerLink="./withdraw" routerLinkActive="active" class="btn btn-outline-info" [routerLinkActiveOptions]="{exact:true}">Withdraw</a>&nbsp;

    <a routerLink="./deposit" routerLinkActive="active" class="btn btn-outline-info" [routerLinkActiveOptions]="{exact:true}">Deposit</a>

</div>

<router-outlet></router-outlet>