<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Management System</title>
</head>
<body>
    <div class="overlay">
        <h1>Welcome To Our Bank</h1>
        <p>
            Our Bank Management System provides a secure and efficient platform for managing your finances. 
            Whether you're looking to open a new account, make transactions, or get financial advice, we've got you covered.
        </p>
    </div>
    <div>
        <img src="https://wallpaperbat.com/img/264163-fictitious-assets-ailing-irans-banking-sector.jpg" alt="Bank" class="img">
    </div>
    
</body> 
</html>
